{% extends "base.html" %}

{% block content %}

<h2>List of ACTIVE tasks</h2>
<table border="1">
        <tr valign="top">
        <td width="10%">id</td>
        <td width="30%">description</td>
        <td width="10%">is_done</td>
        <td width="20%">createdon</td>
        <td width="30%">duedate</td>
        </tr>
        {% for row in curs %}
        <tr valign="top">
            <td width="10%">{{ row[0] }}</td>
            <td width="30%">{{ row[1] }}</td>
            <td width="10%">{{ row[2]  }}</td>
            <td width="20%">{{ row[3] }}</td>
            <td width="30%">{{ row[4] }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}

